<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Champions League 18-19</title>

    <link rel="shortcut icon" href="static/img/messi.jpg" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/app.css" rel="stylesheet">

    <!-- Social CSS -->
    <link href="static/css/bootstrap-social.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>
    <img src="/static/img/messi.jpg"  height="300" alt="">
    Logged In!



</body>

</html>