{% extends "base.html" %}

{% block content %}

    <div>
        Admin:
        <a href="{{ url_for('admin') }}">Submit Scores</a>
        <a href="{{ url_for('admin_submit_teams') }}">Submit Teams</a>
        
    </div>
    <h1>Submit Teams</h1>
    Current Teams: {{tournament.get_group_teams()}}


    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        {% for label_and_form_item in labels_and_form_items %}

            {{label_and_form_item[0]}} : {{label_and_form_item[1]}}
            
        {% endfor%}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}