{% extends "base.html" %}

{% block content %}

    <div>
        Admin:
        <a href="{{ url_for('admin') }}">Submit Scores</a>
        <a href="{{ url_for('admin_submit_teams') }}">Submit Teams</a>
        
    </div>
    <h1>Submit Scores</h1>
    
    Current Games: {{tournament.get_R16_games()}}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        
        {% for label_and_form_item in labels_and_form_items %}

            {{games_info[label_and_form_item[0]]["home_team"]}} (Home) vs {{games_info[label_and_form_item[0]]["away_team"]}} (Away): {{label_and_form_item[1]}}
            
        {% endfor%}

        
        <p>{{ form.submit() }}</p> 
    </form>
{% endblock %}