<html>
    <head>
      {% if title %}
      <title>{{ title }} - Champions League</title>
      {% else %}
      <title>Welcome to Champions League</title>
      {% endif %}
    </head>
    <body>
       <div>
            Champions League:
            <a href="{{ url_for('index') }}">Home</a>
            <!-- <a href="{{ url_for('submit_bracket') }}">Submit Bracket(Protected)</a> -->
            <a href="{{ url_for('submit_group_stage') }}">Submit Group Stage</a>
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('admin') }}">Admin (Protected)</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>